body{
	margin:0 auto;
	padding:0 auto;
}
#quem-sou-eu{
	width:100%;
	height:700px;
	float:left;
	background-image:url("imagens/fundo.jpg");
	border-bottom:3px solid darkgrey;
}

#contato{
	width:100%;
	height:700px;
	float:left;
}

#linhadotempo{
	width:100%;
	height:750px;
	float:left;
	background-color:#f8f8f8;
}

/* principais 'quem sou eu' */
#identificacao{
	float:left;
	width:25%;
	height:100%;
}
#qualidades{
	width:50%;
	height:100%;
	float:left;
}
#minha-imagem{
	width:25%;
	height:100%;
	float:left;
	background-image:url("imagens/minha-foto.jpg");
	background-size:100% auto;
	background-repeat: no-repeat;
	background-position:center bottom;
}

/* secundarias 'quem sou eu' */

#font1{
	font-family: 'Poiret One', cursive;
	font-size:40px;
	color:darkgrey;
	margin:10px;
	cursor:default;
}
#font2{
	font-family: 'Josefin Sans', cursive;
	font-size:40px;
	cursor:default;
}
#font2:hover{
	color:#da5c56;
	transition:.2s;
}

#font3{
	display:none;
	font-family: 'Poiret One', cursive;
	font-size:40px;
	color:#da5c56;
}
#font4{
	font-family: 'Josefin Sans', cursive;
	font-size:20px;
	color:#da5c56;
	float:right;
	cursor:default;
}
#font4:hover{
	color:darkgrey;
	font-weight: bold;
	transition:.2s;
}
#font5{
	font-family: 'Josefin Sans', cursive;
	font-size:30px;
	color:#da5c56;
	float:left;
	cursor:pointer;	
}
#font5:hover{
	color:darkgrey;
	transition:.2s;
}
#meu-nome{
	width:80%;
	height:300px;
	margin-top:20px;
}
#formacoes{
	width:100%;
	float:left;
	margin-top:15%;
}
#flecha1{
	float:right;
	width:100px;
	margin-top:5%;
	margin-right:2%;
}
#habilidades{
	width:100%;
	height:30%;
	float:left;
}
#tabela-habilidades{
	margin-top:5%;
	width:90%;
	height:70%;
}
#font6{
	margin-left:30%;
	font-family: 'Poiret One', cursive;
	font-size:20px;
	color:darkgrey;
}
#font6:hover{
	color:#da5c56;
	transition:.2s;
	cursor:default;
}
#saber-mais{
	margin-top:20%;
	width:50%;
	height:15%;
	float:left;
}
#texto-saber-mais{
	font-family: 'Poiret One', cursive;
	font-size:20px;
	color:#da5c56;
	float:left;	
	margin-bottom:10px;
	cursor:default;
}
#botao-saber-mais{
	border:none;
	background-color:#da5c56;
	width:200px;
	height:40px;
	float:left;
	font-family: 'Poiret One', cursive;
	font-size:20px;
	cursor:pointer;
}
#botao-saber-mais:hover{
	color:white;
	transition:.2s;
}

#font7{
	font-family: 'Josefin Sans', cursive;
	font-size:50px;
	color:black;
	margin-left:70px;
	float:left;
	height:10%;
}

#divisaonuvem{
	width:20%;
	height:100%;
	float:left;
}
.nuvem{
	float:left;
	max-width:100%;
}
#font8{
	font-family: 'Josefin Sans', cursive;
	font-size:10px;
	color:black;
}
#rodapelinhadotempo{
	width:100%;
	height:20%;
	background-image:url("imagens/cidade4.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size:auto 100%;
	float:left;
}
#ceu{
	height:10%;
	width:100%;
	float:left;
	margin-top:10px;
}
#iframe-linha-do-tempo{
	width:100%;
	height:60%;
	float:left;
	border:none;
}
#eu-habbo{
	height: 70%;
	float:right;
	margin-right:1%;
}
#eu-habbo2{
	height: 70%;
	float:right;
	margin-right:1%;
	display:none;
}

#redes-sociais{
	background-color:#006400;
	height:65%;
	width:40%;
	float:left;
	margin-top:5%;
	border-top:1px solid #FFD700;
	border-bottom:1px solid #FFD700;
}
#formulario{
	height:65%;
	width:60%;
	float:left;
	margin-top:5%;
	border-top:1px solid #FFD700;
	border-bottom:1px solid #FFD700;
	background-image:url("imagens/carta.png");
	background-size:90% 75%;
	background-position: center center;
	background-repeat: no-repeat;
}
#form-formulario{
	float:left;
	width:50%;
	height:50%;
	margin-top:5%;
	margin-left:9%;
}
#font10{
	font-family: 'Josefin Sans', cursive;
	font-size:10px;
	color:black;	
	margin-top:5%;
}
#rodape-contato{
	width:100%;
	height:5%;
	float:left;
}
#font11{
	font-family: 'Poiret One', cursive;
	font-size:30px;
	color:black;	
	float:left;
	margin-left:15px;
	margin-top:15px;
	width:90%;
}
#input{
	border:none;
	border-bottom:1px solid #006400;
	height:15%;
	width:100%;
	margin-top:5%;
	font-family: 'Josefin Sans', cursive;
	font-size:15px;
	color:black;	
}
#input-submit{
	border:none;
	border-bottom:1px solid #006400;
	font-family: 'Josefin Sans', cursive;
	font-size:15px;
	height:15%;
	width:25%;
	background-color:#006400;
	color:white;
	border-bottom:1px solid #FFD700;	
	margin-top:5%;
	cursor:pointer;
}
#input-submit:hover{
	border-bottom:5px solid #FFD700;	
	transition:.5s;
}
#input-submit2{
	border:none;
	font-family: 'Josefin Sans', cursive;
	font-size:20px;
	cursor:pointer;
	background-color:#FFD700;
	color:white;
	width:50%;
	height:50px;
	margin:10px;
}
#input-submit2:hover{
	background-color:white;	
	color:black;
	transition:.5s;
}
#tabela-contato-rodape{
	font-family: 'Poiret One', cursive;
	font-size:20px;
	color:white;	
	float:left;
	margin-left:15px;
	margin-top:15px;
	width:90%;
	margin-bottom:75px;
	margin-top:30px;
}


@media screen and (max-width: 425px) {
   #tabela-habilidades{
   	display:none;
   }
   #font1{
   	display:none;
   }
   #font2{
	font-size:50px;
   }
   #meu-nome{
   	width:100%;
   }
   #identificacao{
   	width:100%;
   	height:20px;
   }
   #font3{
   	display:none;
   }
   #identificacao table {
   	margin-top:-225px;
   }
   #font4{ 
   	margin:5px;
   	z-index:9999 !important;
   	position:relative;	
   }
   #qualidades{
   	width:100%;
   	height:500px;
   }
   #flecha1{
   	display:none;
   }
   #saber-mais{
   	display:none;
   }
   #minha-imagem{
   	margin-top:-520px;
   	width:70%;
   	float:right;
   }
   #font7{
   	font-size:30px;
   	width:90% !important;
   	float:left;
   	margin-left:10px;
   }
   #rodapelinhadotempo{
   	background-size:340%;
   }
   #redes-sociais{
   	width:100%;
   	border:none;
   	margin-top:40px;
   }
   #font11{
   	font-size:30px;
   }
   #tabela-contato-rodape{
   	font-size:15px;
   }
   #input-submit2{
   	width:90%;
   }
   #formulario{
   	width:100% !important;
   	height:70%;
   }
   #form-formulario{
   	width:90% !important;
   }
   #input{
   	width:92% !important;
   	height:80px;
   }
   #input-submit{
   	width:90%;
   	margin-top:10px;
   }
}